/*-----------------Комбінований селектор для заголовку сторінки-----------*/ 
div .styleh1 {
    background-color: rgb(156, 9, 241);
    color: rgb(16, 238, 201);
    display: flex;
    justify-content: center;
}

/*-----------------Селектор тегу-------------------*/
p {
    background-color: goldenrod;
    color: black;
}

/*-----------------Селектор класу------------------*/
.divstyle {
    background-color: red;
    color: blue;
}

/*------------------Селектор ID----------------------*/
#divstyleid {
    background-color: green;
    color: white;
}

/*------------------Селектор атрібуту-----------------*/
div a[href*="google"] {
    background-color: orange;
    color: black;
}

/*------------------Вкладений селектор-----------------*/
.divstylein p {
    background-color: blueviolet;
    color: white;
}
/*------------------Дочерні селекори-------------------*/
div > h3 {
    background-color: yellow;
    color: black;
}

section > p {
    background-color: blue;
    color: silver;
}

div > h4 {
    background-color: powderblue;
    color: red;
}

/*------------------Послідовні селектори----------------------*/
.divstysub h4 + p {
    background-color: grey;
    color: white;
}

.divstysubnew h4 ~ p {
    background-color: rgb(208, 211, 12);
    color: black;
}

/*------------------Комбінований селектор----------------------*/
.styletagem em {
    background-color: rgba(243, 8, 172, 0.945);
    color: white;
}